.header {
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
  margin: 15px 0 10px;
}

.header-icon {
  color: darkblue;
  padding: 0 10px 0 15px;
}

.inline-elements {
  display: inline-block;
  vertical-align: middle;
}

.header-class {
  color: darkblue;
  font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}
